In [7]:
# download aragon/organizations.csv from https://www.kaggle.com/datasets/daviddavo/dao-analyzer

import pandas as pd
df = pd.read_csv('organizations.csv')
df.head()

,Unnamed: 0,network,id,createdAt,recoveryVault,name,orgAddress
0,0,mainnet,0x0017a25385931ee690dc09df6cca919d1cd007b2,1541610394,0x23e81ddd7f7ccdedfccdcc321a9bdb6972ba6048,NaN,0x0017a25385931ee690dc09df6cca919d1cd007b2
1,1,mainnet,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,1598862748,0x51faf92e54bc8d7923e6c355649851644fbf3d52,ShillDAO,0x001cd74c9a99b6c68e93fe69595124407b37aa8e
2,2,mainnet,0x0068990f8910e502dd41eb71fbc506936ca100af,1641015861,0xf2cef016175318ac0090ce4d1a6dad2cfc113f07,NaN,0x0068990f8910e502dd41eb71fbc506936ca100af
3,3,mainnet,0x00b424842685f69912cfd93af7293602c973bf56,1573488171,0x8388131b41dfaf6df1547d2687dc1b1856570be5,NaN,0x00b424842685f69912cfd93af7293602c973bf56
4,4,mainnet,0x00ccb72bd1f72882d89774d9acccce616ed9227d,1663042674,0x416a5242db6e1108481ecd24d950ffd808610d55,NaN,0x00ccb72bd1f72882d89774d9acccce616ed9227d

In [8]:
# drop unnamed column
df = df.drop(columns=['Unnamed: 0'])
df.head()

,network,id,createdAt,recoveryVault,name,orgAddress
0,mainnet,0x0017a25385931ee690dc09df6cca919d1cd007b2,1541610394,0x23e81ddd7f7ccdedfccdcc321a9bdb6972ba6048,NaN,0x0017a25385931ee690dc09df6cca919d1cd007b2
1,mainnet,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,1598862748,0x51faf92e54bc8d7923e6c355649851644fbf3d52,ShillDAO,0x001cd74c9a99b6c68e93fe69595124407b37aa8e
2,mainnet,0x0068990f8910e502dd41eb71fbc506936ca100af,1641015861,0xf2cef016175318ac0090ce4d1a6dad2cfc113f07,NaN,0x0068990f8910e502dd41eb71fbc506936ca100af
3,mainnet,0x00b424842685f69912cfd93af7293602c973bf56,1573488171,0x8388131b41dfaf6df1547d2687dc1b1856570be5,NaN,0x00b424842685f69912cfd93af7293602c973bf56
4,mainnet,0x00ccb72bd1f72882d89774d9acccce616ed9227d,1663042674,0x416a5242db6e1108481ecd24d950ffd808610d55,NaN,0x00ccb72bd1f72882d89774d9acccce616ed9227d

In [9]:
# add platform=aragon
df['platform'] = 'aragon'
# rename id to platform_id
df = df.rename(columns={'id': 'platform_id'})
df = df[['platform', 'platform_id', 'name']]
df.head()

  platform                                 platform_id      name
0   aragon  0x0017a25385931ee690dc09df6cca919d1cd007b2       NaN
1   aragon  0x001cd74c9a99b6c68e93fe69595124407b37aa8e  ShillDAO
2   aragon  0x0068990f8910e502dd41eb71fbc506936ca100af       NaN
3   aragon  0x00b424842685f69912cfd93af7293602c973bf56       NaN
4   aragon  0x00ccb72bd1f72882d89774d9acccce616ed9227d       NaN

In [12]:
# add website column
df['website'] = 'https://etherscan.io/address/' + df['platform_id'] + '#code'
import numpy as np
df['additional'] = np.nan
df.head()

,platform,platform_id,name,website,additional
0,aragon,0x0017a25385931ee690dc09df6cca919d1cd007b2,NaN,https://etherscan.io/address/0x0017a25385931ee...,NaN
1,aragon,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,ShillDAO,https://etherscan.io/address/0x001cd74c9a99b6c...,NaN
2,aragon,0x0068990f8910e502dd41eb71fbc506936ca100af,NaN,https://etherscan.io/address/0x0068990f8910e50...,NaN
3,aragon,0x00b424842685f69912cfd93af7293602c973bf56,NaN,https://etherscan.io/address/0x00b424842685f69...,NaN
4,aragon,0x00ccb72bd1f72882d89774d9acccce616ed9227d,NaN,https://etherscan.io/address/0x00ccb72bd1f7288...,NaN

In [ ]:
# save
df.to_csv('aragon_deployments.csv', index=False)