here we combine the manual organizations and the deepdao organizations to create a resulting table of deployments with organization ids

In [152]:
import pandas as pd
# deepdao_deployments_by_platform_with_platform_ids.csv
# deployments_not_on_deepdao_with_manual_groups.csv
deepdao_df = pd.read_csv('deepdao_deployments_by_platform_with_platform_ids.csv')
manual_df = pd.read_csv('deployments_not_on_deepdao_with_manual_groups.csv')
# remove unnamed column from manual
manual_df = manual_df.loc[:, ~manual_df.columns.str.contains('^Unnamed')]

deepdao_df.head()

,deepdao_deployment_id,deepdao_organization_id,name,website,platform,platform_id_source,platform_id
0,242e652c-9f58-4953-ba59-18c49d51cdc2,000de27d-b92a-495f-89be-554d022bb498,ZooGang Dao,https://snapshot.org/#/zoogangdao.eth,snapshot,automatic,zoogangdao.eth
1,d3b7fce7-4715-4ad1-a316-412b1293eaef,004799ea-ef9e-432e-ae94-55a60f754f91,rugpullindex,https://snapshot.org/#/rugpullindex.eth,snapshot,automatic,rugpullindex.eth
2,a1e8e3cd-3bae-4239-8586-bd62d7c0fa0c,004d7017-ab61-40d3-aa6d-b546bb3dcd86,Komet Finance,https://snapshot.org/#/komet.eth,snapshot,automatic,komet.eth
3,e6cecf71-58ad-43ad-a5b6-d88228f123d6,0058e059-756c-4cf0-be93-2ea101e2cbff,Nftorbit,https://snapshot.org/#/nftorbit.eth,snapshot,automatic,nftorbit.eth
4,1815c9c4-690c-4092-a526-4d641bf24b4e,005ea4e2-624a-46f0-a7cd-1967d95d4092,JAMM,https://snapshot.org/#/jamm,snapshot,automatic,jamm

add proposals and votes count to deepdao df

In [153]:
import glob

# find the *_deployments.csv files in ../DATA/deployments
deployments_csvs = glob.glob('../DATA/deployments/*_deployments.csv')

# read the deployments into a single concatenated dataframe
deployments = pd.concat([pd.read_csv(f) for f in deployments_csvs])
deployments = deployments.drop_duplicates(['platform', 'platform_id'])
deployments.head()

,platform,platform_id,name,website,additional,votes_count,proposals_count
0,realms,ynQy8iEbJiFuYA4Nom6j7AjV3E7mPYzz9JoMWBfsNMw,sol test,NaN,NaN,0,0
1,realms,2RQ9KQUJocKasNeNniAqwuDL3tPVsyxuPPtgjHgcKaYG,ckvt22w62754511zol5hax8y16,NaN,NaN,0,0
2,realms,BDKmQnKFJHaAtiFwwFpyzYWt4y7zHjCHkXXKhfgswymn,test 6666,NaN,NaN,0,0
3,realms,7ageSmQoFTanbXNMgEYb45ap7bNCc4KL2dzyYDzakXTx,Panda Patrol DAO,NaN,NaN,0,0
4,realms,9dab9rwkk2uPn2SBKhWuH174VpZG5pD4Jci5zveoa7ug,Bitmon Treasury DAO,NaN,NaN,0,0

In [154]:
deployments.shape

(23721, 7)

In [155]:
# only keep platform, platfrom_id, votes_count, and proposals_count
_pre_merge_deployments = deployments[['platform', 'platform_id', 'votes_count', 'proposals_count']]

In [156]:
# join the deployments with the deepdao data using platform and platform_id
deepdao_df = deepdao_df.drop_duplicates(['platform', 'platform_id'])
deepdao_df_with_deployments = pd.merge(deepdao_df, _pre_merge_deployments, how='left', left_on=['platform', 'platform_id'], right_on=['platform', 'platform_id'], validate='one_to_one')
deepdao_df_with_deployments.head()

,deepdao_deployment_id,deepdao_organization_id,name,website,platform,platform_id_source,platform_id,votes_count,proposals_count
0,242e652c-9f58-4953-ba59-18c49d51cdc2,000de27d-b92a-495f-89be-554d022bb498,ZooGang Dao,https://snapshot.org/#/zoogangdao.eth,snapshot,automatic,zoogangdao.eth,NaN,NaN
1,d3b7fce7-4715-4ad1-a316-412b1293eaef,004799ea-ef9e-432e-ae94-55a60f754f91,rugpullindex,https://snapshot.org/#/rugpullindex.eth,snapshot,automatic,rugpullindex.eth,2.0,16.0
2,a1e8e3cd-3bae-4239-8586-bd62d7c0fa0c,004d7017-ab61-40d3-aa6d-b546bb3dcd86,Komet Finance,https://snapshot.org/#/komet.eth,snapshot,automatic,komet.eth,7.0,1.0
3,e6cecf71-58ad-43ad-a5b6-d88228f123d6,0058e059-756c-4cf0-be93-2ea101e2cbff,Nftorbit,https://snapshot.org/#/nftorbit.eth,snapshot,automatic,nftorbit.eth,NaN,NaN
4,1815c9c4-690c-4092-a526-4d641bf24b4e,005ea4e2-624a-46f0-a7cd-1967d95d4092,JAMM,https://snapshot.org/#/jamm,snapshot,automatic,jamm,90.0,17.0

In [157]:
deepdao_df = deepdao_df_with_deployments

In [158]:
deepdao_df.shape

(2504, 9)

In [159]:
manual_df.head()

,platform,platform_id,name,website,additional,votes_count,proposals_count,platform_id_source,deepdao_organization_id,id,internal_deployment_id,group_id,group_id_str
0,realms,7Pm2249LrXxLLVPJumUsBVR6FuPhDJxXxfiWbjZ8DP1T,ckvtpwvdq4839161zolql978c0n,NaN,NaN,0,4,NaN,NaN,b9e2ed01-6833-55f0-a476-c119caa26cba,b9e2ed01-6833-55f0-a476-c119caa26cba,d12c8a7c-bb82-43f3-966f-6e4e87e953ba,d12c8a7c-bb82-43f3-966f-6e4e87e953ba
1,realms,26yUdUTWSfpwpNMshahupbXoQKi2NkaTECSyE45VMutU,1Sol DAO,NaN,NaN,0,12,NaN,NaN,5d147695-5c39-51c2-ba20-2c708b925ff6,5d147695-5c39-51c2-ba20-2c708b925ff6,7be7416c-c737-40fc-8f9a-96874e55e10b,7be7416c-c737-40fc-8f9a-96874e55e10b
2,realms,Eg2SufZBj3q1JyQNoJk2AkMtiXFF1gn1wpoCHf9c8qZH,Monkog DAO,NaN,NaN,0,0,NaN,NaN,afc795a7-7d26-54e6-a814-f73a06747ede,afc795a7-7d26-54e6-a814-f73a06747ede,44d6aad7-2982-4917-aa1a-eaa629c06bbd,44d6aad7-2982-4917-aa1a-eaa629c06bbd
3,realms,39aX7mDZ1VLpZcPWstBhQBoqwNkhf5f1KDACguvrryi6,MonkOG DAO,NaN,NaN,0,2,NaN,NaN,0773ac64-6eae-52a5-babd-b632368e1525,0773ac64-6eae-52a5-babd-b632368e1525,44d6aad7-2982-4917-aa1a-eaa629c06bbd,44d6aad7-2982-4917-aa1a-eaa629c06bbd
4,realms,Ar2nJv6V3SMpdZMMMdDLyBFdPt5yiCpRcbXBuGu1FiC2,FTR DAO,NaN,NaN,0,1,NaN,NaN,467f766f-2e89-5a9c-b749-e5e7ed1eb31a,467f766f-2e89-5a9c-b749-e5e7ed1eb31a,fee86f7c-b519-430e-8b11-71d092d475bf,fee86f7c-b519-430e-8b11-71d092d475bf

In [160]:
manual_df.shape

(529, 13)

In [161]:
# count rows where the id == internal_deployment_id
manual_df[manual_df['id'] == manual_df['internal_deployment_id']].shape

(529, 13)

In [162]:
# drop the id column, it's identical to internal_deployment_id
manual_df = manual_df.drop(columns=['id'])

In [163]:
manual_df[manual_df['group_id'] == manual_df['group_id_str']].shape

(529, 12)

In [164]:
# drop group_id_str, it's identical to group_id
manual_df = manual_df.drop(columns=['group_id_str'])

In [165]:
manual_df.head()

,platform,platform_id,name,website,additional,votes_count,proposals_count,platform_id_source,deepdao_organization_id,internal_deployment_id,group_id
0,realms,7Pm2249LrXxLLVPJumUsBVR6FuPhDJxXxfiWbjZ8DP1T,ckvtpwvdq4839161zolql978c0n,NaN,NaN,0,4,NaN,NaN,b9e2ed01-6833-55f0-a476-c119caa26cba,d12c8a7c-bb82-43f3-966f-6e4e87e953ba
1,realms,26yUdUTWSfpwpNMshahupbXoQKi2NkaTECSyE45VMutU,1Sol DAO,NaN,NaN,0,12,NaN,NaN,5d147695-5c39-51c2-ba20-2c708b925ff6,7be7416c-c737-40fc-8f9a-96874e55e10b
2,realms,Eg2SufZBj3q1JyQNoJk2AkMtiXFF1gn1wpoCHf9c8qZH,Monkog DAO,NaN,NaN,0,0,NaN,NaN,afc795a7-7d26-54e6-a814-f73a06747ede,44d6aad7-2982-4917-aa1a-eaa629c06bbd
3,realms,39aX7mDZ1VLpZcPWstBhQBoqwNkhf5f1KDACguvrryi6,MonkOG DAO,NaN,NaN,0,2,NaN,NaN,0773ac64-6eae-52a5-babd-b632368e1525,44d6aad7-2982-4917-aa1a-eaa629c06bbd
4,realms,Ar2nJv6V3SMpdZMMMdDLyBFdPt5yiCpRcbXBuGu1FiC2,FTR DAO,NaN,NaN,0,1,NaN,NaN,467f766f-2e89-5a9c-b749-e5e7ed1eb31a,fee86f7c-b519-430e-8b11-71d092d475bf

In [166]:
# the internal deployment id column is identical to the id column
# the group id column is internally generated and serves the same role as the deepdao organization id

In [167]:
# we can drop the internal deployment id column since we use the platform and platform_id columns to identify deployments
manual_df = manual_df.drop(columns=['internal_deployment_id'])

In [168]:
# rename the group id to manual_organization_id
manual_df = manual_df.rename(columns={'group_id': 'manual_organization_id'})
manual_df.head()

,platform,platform_id,name,website,additional,votes_count,proposals_count,platform_id_source,deepdao_organization_id,manual_organization_id
0,realms,7Pm2249LrXxLLVPJumUsBVR6FuPhDJxXxfiWbjZ8DP1T,ckvtpwvdq4839161zolql978c0n,NaN,NaN,0,4,NaN,NaN,d12c8a7c-bb82-43f3-966f-6e4e87e953ba
1,realms,26yUdUTWSfpwpNMshahupbXoQKi2NkaTECSyE45VMutU,1Sol DAO,NaN,NaN,0,12,NaN,NaN,7be7416c-c737-40fc-8f9a-96874e55e10b
2,realms,Eg2SufZBj3q1JyQNoJk2AkMtiXFF1gn1wpoCHf9c8qZH,Monkog DAO,NaN,NaN,0,0,NaN,NaN,44d6aad7-2982-4917-aa1a-eaa629c06bbd
3,realms,39aX7mDZ1VLpZcPWstBhQBoqwNkhf5f1KDACguvrryi6,MonkOG DAO,NaN,NaN,0,2,NaN,NaN,44d6aad7-2982-4917-aa1a-eaa629c06bbd
4,realms,Ar2nJv6V3SMpdZMMMdDLyBFdPt5yiCpRcbXBuGu1FiC2,FTR DAO,NaN,NaN,0,1,NaN,NaN,fee86f7c-b519-430e-8b11-71d092d475bf

In [169]:
# val countr platform_id_source
deepdao_df['deepdao_organization_id'].value_counts()

1ac466d5-28c6-4628-af35-cd270209139b    35
6d9a6334-9fda-4ce3-a55e-1d70ec60f9cb    26
ee239a92-7cb8-4ba6-bdcc-77a3a8341613    24
a356feb3-546c-457b-a1c5-cde5bb39d5df    17
e2839abc-9982-4ef7-b57b-01bee5d0710b    15
                                        ..
53d4b6e6-7c06-4221-8882-439143defb02     1
53d2ae0a-acc1-42bf-9656-8f175279136b     1
53d29f58-4b67-4a8a-b412-c61221d28b8c     1
53ccb484-2a5a-4289-8fb8-bfde34eb3559     1
7db2628b-f572-469b-9324-c89896281b7f     1
Name: deepdao_organization_id, Length: 2248, dtype: int64

In [170]:
# we want a resulting table of deployments with the following columns:
# - organization_id (may be null)
# - platform_id (not null)
# - platform (not null)
# - name
# - votes_count
# - proposals_count
# - organization_type (either manual or deepdao)

In [171]:
_pre_merge_manual_df = manual_df.copy()
_pre_merge_manual_df['organization_type'] = 'manual'
# rename manual_organization_id to organization_id
_pre_merge_manual_df = _pre_merge_manual_df.rename(columns={'manual_organization_id': 'organization_id'})
# keep only the columns we want
_pre_merge_manual_df = _pre_merge_manual_df[['organization_id', 'platform_id', 'platform', 'name', 'votes_count', 'proposals_count', 'organization_type']]
_pre_merge_manual_df.head()

,organization_id,platform_id,platform,name,votes_count,proposals_count,organization_type
0,d12c8a7c-bb82-43f3-966f-6e4e87e953ba,7Pm2249LrXxLLVPJumUsBVR6FuPhDJxXxfiWbjZ8DP1T,realms,ckvtpwvdq4839161zolql978c0n,0,4,manual
1,7be7416c-c737-40fc-8f9a-96874e55e10b,26yUdUTWSfpwpNMshahupbXoQKi2NkaTECSyE45VMutU,realms,1Sol DAO,0,12,manual
2,44d6aad7-2982-4917-aa1a-eaa629c06bbd,Eg2SufZBj3q1JyQNoJk2AkMtiXFF1gn1wpoCHf9c8qZH,realms,Monkog DAO,0,0,manual
3,44d6aad7-2982-4917-aa1a-eaa629c06bbd,39aX7mDZ1VLpZcPWstBhQBoqwNkhf5f1KDACguvrryi6,realms,MonkOG DAO,0,2,manual
4,fee86f7c-b519-430e-8b11-71d092d475bf,Ar2nJv6V3SMpdZMMMdDLyBFdPt5yiCpRcbXBuGu1FiC2,realms,FTR DAO,0,1,manual

In [172]:
_pre_merge_deepdao_df = deepdao_df.copy()
_pre_merge_deepdao_df['organization_type'] = 'deepdao'
# rename deepdao_organization_id to organization_id
_pre_merge_deepdao_df = _pre_merge_deepdao_df.rename(columns={'deepdao_organization_id': 'organization_id'})
# keep only the columns we want
_pre_merge_deepdao_df = _pre_merge_deepdao_df[['organization_id', 'platform_id', 'platform', 'name', 'votes_count', 'proposals_count', 'organization_type']]
_pre_merge_deepdao_df.head()

,organization_id,platform_id,platform,name,votes_count,proposals_count,organization_type
0,000de27d-b92a-495f-89be-554d022bb498,zoogangdao.eth,snapshot,ZooGang Dao,NaN,NaN,deepdao
1,004799ea-ef9e-432e-ae94-55a60f754f91,rugpullindex.eth,snapshot,rugpullindex,2.0,16.0,deepdao
2,004d7017-ab61-40d3-aa6d-b546bb3dcd86,komet.eth,snapshot,Komet Finance,7.0,1.0,deepdao
3,0058e059-756c-4cf0-be93-2ea101e2cbff,nftorbit.eth,snapshot,Nftorbit,NaN,NaN,deepdao
4,005ea4e2-624a-46f0-a7cd-1967d95d4092,jamm,snapshot,JAMM,90.0,17.0,deepdao

In [173]:
# are the cols the same?
_pre_merge_manual_df.columns == _pre_merge_deepdao_df.columns

array([ True,  True,  True,  True,  True,  True,  True])

In [174]:
# concat the two dataframes
deployments_with_organizations = pd.concat([_pre_merge_manual_df, _pre_merge_deepdao_df])
deployments_with_organizations.head()

,organization_id,platform_id,platform,name,votes_count,proposals_count,organization_type
0,d12c8a7c-bb82-43f3-966f-6e4e87e953ba,7Pm2249LrXxLLVPJumUsBVR6FuPhDJxXxfiWbjZ8DP1T,realms,ckvtpwvdq4839161zolql978c0n,0.0,4.0,manual
1,7be7416c-c737-40fc-8f9a-96874e55e10b,26yUdUTWSfpwpNMshahupbXoQKi2NkaTECSyE45VMutU,realms,1Sol DAO,0.0,12.0,manual
2,44d6aad7-2982-4917-aa1a-eaa629c06bbd,Eg2SufZBj3q1JyQNoJk2AkMtiXFF1gn1wpoCHf9c8qZH,realms,Monkog DAO,0.0,0.0,manual
3,44d6aad7-2982-4917-aa1a-eaa629c06bbd,39aX7mDZ1VLpZcPWstBhQBoqwNkhf5f1KDACguvrryi6,realms,MonkOG DAO,0.0,2.0,manual
4,fee86f7c-b519-430e-8b11-71d092d475bf,Ar2nJv6V3SMpdZMMMdDLyBFdPt5yiCpRcbXBuGu1FiC2,realms,FTR DAO,0.0,1.0,manual

In [175]:
deployments_with_organizations.shape

(3033, 7)

In [ ]:
# this should be closer to 21k ...
# we currently have:
# - the deployments that are on deepdao
# - the deployments that are not on deepdao but are in the manual groups
# we are MISSING the ones that are not on deepdao and are not in the manual groups!
# these are in the deployments df; we need to concat and drop duplicates
deployments.head()

,platform,platform_id,name,website,additional,votes_count,proposals_count
0,realms,ynQy8iEbJiFuYA4Nom6j7AjV3E7mPYzz9JoMWBfsNMw,sol test,NaN,NaN,0,0
1,realms,2RQ9KQUJocKasNeNniAqwuDL3tPVsyxuPPtgjHgcKaYG,ckvt22w62754511zol5hax8y16,NaN,NaN,0,0
2,realms,BDKmQnKFJHaAtiFwwFpyzYWt4y7zHjCHkXXKhfgswymn,test 6666,NaN,NaN,0,0
3,realms,7ageSmQoFTanbXNMgEYb45ap7bNCc4KL2dzyYDzakXTx,Panda Patrol DAO,NaN,NaN,0,0
4,realms,9dab9rwkk2uPn2SBKhWuH174VpZG5pD4Jci5zveoa7ug,Bitmon Treasury DAO,NaN,NaN,0,0

In [190]:
# we can do this by merging the deployments_with_organizations df with the deployments df
# left merge deployments_with_organizations -> organizations
# then clean up the dupe columns
all_deployments_with_organizations = pd.merge(deployments, deployments_with_organizations, how='left', left_on=['platform', 'platform_id'], right_on=['platform', 'platform_id'], validate='one_to_one')
all_deployments_with_organizations.head()

,platform,platform_id,name_x,website,additional,votes_count_x,proposals_count_x,organization_id,name_y,votes_count_y,proposals_count_y,organization_type
0,realms,ynQy8iEbJiFuYA4Nom6j7AjV3E7mPYzz9JoMWBfsNMw,sol test,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
1,realms,2RQ9KQUJocKasNeNniAqwuDL3tPVsyxuPPtgjHgcKaYG,ckvt22w62754511zol5hax8y16,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
2,realms,BDKmQnKFJHaAtiFwwFpyzYWt4y7zHjCHkXXKhfgswymn,test 6666,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
3,realms,7ageSmQoFTanbXNMgEYb45ap7bNCc4KL2dzyYDzakXTx,Panda Patrol DAO,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
4,realms,9dab9rwkk2uPn2SBKhWuH174VpZG5pD4Jci5zveoa7ug,Bitmon Treasury DAO,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN

In [191]:
# org type val counts with nulls
all_deployments_with_organizations['organization_type'].value_counts()

deepdao    1930
manual      529
Name: organization_type, dtype: int64

In [192]:
# how many org types are null?
all_deployments_with_organizations[all_deployments_with_organizations['organization_type'].isnull()].shape

(21262, 12)

In [193]:
# looks good so far; we'll want to add another type of organization for the ones that are not on deepdao and are not in the manual groups, let's call it 'single'
# this means that this deployment is the only deployment inside of this organization
all_deployments_with_organizations['organization_type'] = all_deployments_with_organizations['organization_type'].fillna('single')
all_deployments_with_organizations['organization_type'].value_counts()

single     21262
deepdao     1930
manual       529
Name: organization_type, dtype: int64

In [195]:
# val counts for name_x
all_deployments_with_organizations['name_x'].value_counts()

test               96
Test               57
TEST               54
Test DAO           28
1                  23
                   ..
The Artist DAO      1
FoxFairyProject     1
Coodle DACC         1
Coinage             1
Melon Council       1
Name: name_x, Length: 19324, dtype: int64

In [196]:
# val counts for name_y
all_deployments_with_organizations['name_y'].value_counts()

11                    18
1                      8
anay                   6
DAOSquare              5
123                    4
                      ..
Kawaii Islands         1
GDN DAO                1
MCDEX                  1
Imagination Rabbit     1
Melon Council          1
Name: name_y, Length: 2256, dtype: int64

In [197]:
# keep name_x, fill nans with name_y
all_deployments_with_organizations['name'] = all_deployments_with_organizations['name_x'].fillna(all_deployments_with_organizations['name_y'])
# drop
all_deployments_with_organizations = all_deployments_with_organizations.drop(columns=['name_x', 'name_y'])
all_deployments_with_organizations.head()

,platform,platform_id,website,additional,votes_count_x,proposals_count_x,organization_id,votes_count_y,proposals_count_y,organization_type,name
0,realms,ynQy8iEbJiFuYA4Nom6j7AjV3E7mPYzz9JoMWBfsNMw,NaN,NaN,0,0,NaN,NaN,NaN,single,sol test
1,realms,2RQ9KQUJocKasNeNniAqwuDL3tPVsyxuPPtgjHgcKaYG,NaN,NaN,0,0,NaN,NaN,NaN,single,ckvt22w62754511zol5hax8y16
2,realms,BDKmQnKFJHaAtiFwwFpyzYWt4y7zHjCHkXXKhfgswymn,NaN,NaN,0,0,NaN,NaN,NaN,single,test 6666
3,realms,7ageSmQoFTanbXNMgEYb45ap7bNCc4KL2dzyYDzakXTx,NaN,NaN,0,0,NaN,NaN,NaN,single,Panda Patrol DAO
4,realms,9dab9rwkk2uPn2SBKhWuH174VpZG5pD4Jci5zveoa7ug,NaN,NaN,0,0,NaN,NaN,NaN,single,Bitmon Treasury DAO

In [198]:
# keep votes_count_x, fill nans with votes_count_y
all_deployments_with_organizations['votes_count'] = all_deployments_with_organizations['votes_count_x'].fillna(all_deployments_with_organizations['votes_count_y'])
# drop
all_deployments_with_organizations = all_deployments_with_organizations.drop(columns=['votes_count_x', 'votes_count_y'])
# same with proposals
all_deployments_with_organizations['proposals_count'] = all_deployments_with_organizations['proposals_count_x'].fillna(all_deployments_with_organizations['proposals_count_y'])
# drop
all_deployments_with_organizations = all_deployments_with_organizations.drop(columns=['proposals_count_x', 'proposals_count_y'])
all_deployments_with_organizations.head()

,platform,platform_id,website,additional,organization_id,organization_type,name,votes_count,proposals_count
0,realms,ynQy8iEbJiFuYA4Nom6j7AjV3E7mPYzz9JoMWBfsNMw,NaN,NaN,NaN,single,sol test,0,0
1,realms,2RQ9KQUJocKasNeNniAqwuDL3tPVsyxuPPtgjHgcKaYG,NaN,NaN,NaN,single,ckvt22w62754511zol5hax8y16,0,0
2,realms,BDKmQnKFJHaAtiFwwFpyzYWt4y7zHjCHkXXKhfgswymn,NaN,NaN,NaN,single,test 6666,0,0
3,realms,7ageSmQoFTanbXNMgEYb45ap7bNCc4KL2dzyYDzakXTx,NaN,NaN,NaN,single,Panda Patrol DAO,0,0
4,realms,9dab9rwkk2uPn2SBKhWuH174VpZG5pD4Jci5zveoa7ug,NaN,NaN,NaN,single,Bitmon Treasury DAO,0,0

In [199]:
# make organization ids for the single deployments
# we can do this by taking the platform and platform_id and hashing them as a uuid
import uuid
def make_single_organization_id(row):
    if row['organization_type'] != 'single':
        return row['organization_id']
    return str(uuid.uuid5(uuid.NAMESPACE_DNS, row['platform'] + row['platform_id']))

all_deployments_with_organizations['organization_id'] = all_deployments_with_organizations.apply(make_single_organization_id, axis=1)
all_deployments_with_organizations.head()

,platform,platform_id,website,additional,organization_id,organization_type,name,votes_count,proposals_count
0,realms,ynQy8iEbJiFuYA4Nom6j7AjV3E7mPYzz9JoMWBfsNMw,NaN,NaN,19e6e793-81a8-5710-bf51-8c3471ff960e,single,sol test,0,0
1,realms,2RQ9KQUJocKasNeNniAqwuDL3tPVsyxuPPtgjHgcKaYG,NaN,NaN,5e80f805-c361-52ef-98f8-c6c86c143d7e,single,ckvt22w62754511zol5hax8y16,0,0
2,realms,BDKmQnKFJHaAtiFwwFpyzYWt4y7zHjCHkXXKhfgswymn,NaN,NaN,634403ce-87fc-5022-b296-cfdae9829897,single,test 6666,0,0
3,realms,7ageSmQoFTanbXNMgEYb45ap7bNCc4KL2dzyYDzakXTx,NaN,NaN,8d5a01d0-3954-525e-8586-be967abba3ed,single,Panda Patrol DAO,0,0
4,realms,9dab9rwkk2uPn2SBKhWuH174VpZG5pD4Jci5zveoa7ug,NaN,NaN,0fc0467b-ee9d-55ad-9854-d92c6f61beed,single,Bitmon Treasury DAO,0,0

In [201]:
# sanity check
# group the df by organization_id and show val counts of number of rows
all_deployments_with_organizations.groupby('organization_id').size().value_counts()
# looks very good

1     22997
2       273
3        31
4         5
5         2
6         2
7         1
12        1
24        1
dtype: int64

In [202]:
# how many website and additional cols are not null?
all_deployments_with_organizations[all_deployments_with_organizations['website'].notnull()].shape

(17970, 9)

In [203]:
all_deployments_with_organizations[all_deployments_with_organizations['additional'].notnull()].shape

(9539, 9)

In [204]:
all_deployments_with_organizations.columns

Index(['platform', 'platform_id', 'website', 'additional', 'organization_id',
       'organization_type', 'name', 'votes_count', 'proposals_count'],
      dtype='object')

In [208]:
all_deployments_with_organizations = all_deployments_with_organizations[[
    'organization_id',
    'platform_id', 'platform',
    'name', 'votes_count', 'proposals_count',
    'website', 'additional',
    'organization_type',
]]
all_deployments_with_organizations.head()

,organization_id,platform_id,platform,name,votes_count,proposals_count,website,additional,organization_type
0,19e6e793-81a8-5710-bf51-8c3471ff960e,ynQy8iEbJiFuYA4Nom6j7AjV3E7mPYzz9JoMWBfsNMw,realms,sol test,0,0,NaN,NaN,single
1,5e80f805-c361-52ef-98f8-c6c86c143d7e,2RQ9KQUJocKasNeNniAqwuDL3tPVsyxuPPtgjHgcKaYG,realms,ckvt22w62754511zol5hax8y16,0,0,NaN,NaN,single
2,634403ce-87fc-5022-b296-cfdae9829897,BDKmQnKFJHaAtiFwwFpyzYWt4y7zHjCHkXXKhfgswymn,realms,test 6666,0,0,NaN,NaN,single
3,8d5a01d0-3954-525e-8586-be967abba3ed,7ageSmQoFTanbXNMgEYb45ap7bNCc4KL2dzyYDzakXTx,realms,Panda Patrol DAO,0,0,NaN,NaN,single
4,0fc0467b-ee9d-55ad-9854-d92c6f61beed,9dab9rwkk2uPn2SBKhWuH174VpZG5pD4Jci5zveoa7ug,realms,Bitmon Treasury DAO,0,0,NaN,NaN,single

In [211]:
# sort by org id
all_deployments_with_organizations = all_deployments_with_organizations.sort_values(by=['organization_id'])
all_deployments_with_organizations.head()

,organization_id,platform_id,platform,name,votes_count,proposals_count,website,additional,organization_type
18595,000102cf-f7ff-5344-a072-5c1eb9cd9e7b,brotherfour.eth,snapshot,ball,1,2,https://snapshot.org/#/brotherfour.eth,NaN,single
166,0004426f-4846-5e0c-b430-31e48f9a840a,7wsrKBeTpqfcribDo34qr8rdSbqXbmQq9Fog2cVirK6C,realms,SoltatoDAO,0,2,NaN,NaN,single
10594,0007ea62-9696-5eaf-be0c-53f400efaea7,factprotocol.eth,snapshot,Fact Protocol,2,1,https://snapshot.org/#/factprotocol.eth,"factprotocol, https://fact.technology",single
15613,0013404c-63e9-5d31-8a21-895b95b8f43a,own-protocol.eth,snapshot,O,0,0,https://snapshot.org/#/own-protocol.eth,NaN,single
22648,00179063-8b35-52e3-8b7c-9e3e5c5a4947,0x8fad9fabccc77652267493cd862b871effdfe222,aragon,NaN,0,5,https://etherscan.io/address/0x8fad9fabccc7765...,NaN,single

In [212]:
# save as all_deployments_with_organizations.csv
all_deployments_with_organizations.to_csv('all_deployments_with_organizations.csv', index=False)