In [20]:
# download aragon/organizations.csv from https://www.kaggle.com/datasets/daviddavo/dao-analyzer

import pandas as pd
df = pd.read_csv('organizations.csv')
df.head()

,Unnamed: 0,id,createdAt,recoveryVault,network,name,orgAddress
0,0,0x0017a25385931ee690dc09df6cca919d1cd007b2,1541610394,0x23e81ddd7f7ccdedfccdcc321a9bdb6972ba6048,mainnet,NaN,0x0017a25385931ee690dc09df6cca919d1cd007b2
1,1,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,1598862748,0x51faf92e54bc8d7923e6c355649851644fbf3d52,mainnet,ShillDAO,0x001cd74c9a99b6c68e93fe69595124407b37aa8e
2,2,0x0068990f8910e502dd41eb71fbc506936ca100af,1641015861,0xf2cef016175318ac0090ce4d1a6dad2cfc113f07,mainnet,NaN,0x0068990f8910e502dd41eb71fbc506936ca100af
3,3,0x00b424842685f69912cfd93af7293602c973bf56,1573488171,0x8388131b41dfaf6df1547d2687dc1b1856570be5,mainnet,NaN,0x00b424842685f69912cfd93af7293602c973bf56
4,4,0x00ccb72bd1f72882d89774d9acccce616ed9227d,1663042674,0x416a5242db6e1108481ecd24d950ffd808610d55,mainnet,NaN,0x00ccb72bd1f72882d89774d9acccce616ed9227d

In [21]:
# drop unnamed column
df = df.drop(columns=['Unnamed: 0'])
df.head()

,id,createdAt,recoveryVault,network,name,orgAddress
0,0x0017a25385931ee690dc09df6cca919d1cd007b2,1541610394,0x23e81ddd7f7ccdedfccdcc321a9bdb6972ba6048,mainnet,NaN,0x0017a25385931ee690dc09df6cca919d1cd007b2
1,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,1598862748,0x51faf92e54bc8d7923e6c355649851644fbf3d52,mainnet,ShillDAO,0x001cd74c9a99b6c68e93fe69595124407b37aa8e
2,0x0068990f8910e502dd41eb71fbc506936ca100af,1641015861,0xf2cef016175318ac0090ce4d1a6dad2cfc113f07,mainnet,NaN,0x0068990f8910e502dd41eb71fbc506936ca100af
3,0x00b424842685f69912cfd93af7293602c973bf56,1573488171,0x8388131b41dfaf6df1547d2687dc1b1856570be5,mainnet,NaN,0x00b424842685f69912cfd93af7293602c973bf56
4,0x00ccb72bd1f72882d89774d9acccce616ed9227d,1663042674,0x416a5242db6e1108481ecd24d950ffd808610d55,mainnet,NaN,0x00ccb72bd1f72882d89774d9acccce616ed9227d

In [22]:
# add platform=aragon
df['platform'] = 'aragon'
# rename id to platform_id
df = df.rename(columns={'id': 'platform_id'})
df = df[['platform', 'platform_id', 'name']]
df.head()

  platform                                 platform_id      name
0   aragon  0x0017a25385931ee690dc09df6cca919d1cd007b2       NaN
1   aragon  0x001cd74c9a99b6c68e93fe69595124407b37aa8e  ShillDAO
2   aragon  0x0068990f8910e502dd41eb71fbc506936ca100af       NaN
3   aragon  0x00b424842685f69912cfd93af7293602c973bf56       NaN
4   aragon  0x00ccb72bd1f72882d89774d9acccce616ed9227d       NaN

In [23]:
# add website column
df['website'] = 'https://etherscan.io/address/' + df['platform_id'] + '#code'
import numpy as np
df['additional'] = np.nan
df.head()

,platform,platform_id,name,website,additional
0,aragon,0x0017a25385931ee690dc09df6cca919d1cd007b2,NaN,https://etherscan.io/address/0x0017a25385931ee...,NaN
1,aragon,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,ShillDAO,https://etherscan.io/address/0x001cd74c9a99b6c...,NaN
2,aragon,0x0068990f8910e502dd41eb71fbc506936ca100af,NaN,https://etherscan.io/address/0x0068990f8910e50...,NaN
3,aragon,0x00b424842685f69912cfd93af7293602c973bf56,NaN,https://etherscan.io/address/0x00b424842685f69...,NaN
4,aragon,0x00ccb72bd1f72882d89774d9acccce616ed9227d,NaN,https://etherscan.io/address/0x00ccb72bd1f7288...,NaN

### get votes ("casts") count

In [24]:
# read casts.csv
# an aragon "cast" is a vote, while an aragon "vote" is a proposal
votes_df = pd.read_csv('casts.csv')
votes_df.head()

,Unnamed: 0,network,id,supports,stake,createdAt,voteId,orgAddress,appAddress,voter
0,0,mainnet,0x0-voter:0x0000008cc20c51c19b3557bf95481b6073...,True,1,1601341877,appAddress:0x1115c9b3168563354137cdc60efb66552...,0x79cf3e23eded0fc20992b79acb3b3ffb7c6799b4,0x1115c9b3168563354137cdc60efb66552dd50678,0x1115c9b3168563354137cdc60efb66552dd50678-vot...
1,1,mainnet,0x0-voter:0x000000de5f9e90ce604da5fd78acd6fae7...,False,1,1579858686,appAddress:0x9b8e397c483449623525efda8f80d9b52...,0xf4dacf2edb6e2bd88eb90c3aef1e510153d38579,0x9b8e397c483449623525efda8f80d9b52481a3a1,0x9b8e397c483449623525efda8f80d9b52481a3a1-vot...
2,2,mainnet,0x0-voter:0x00000b43329dc00f7eb64b8f9ce210a4b8...,True,250000000000000000000000,1649889044,appAddress:0xc50f36e3db27d3f4e303384ca85503baa...,0xc1a90f60e32321c3c12c6996d57608cfa439641e,0xc50f36e3db27d3f4e303384ca85503baa9b02510,0xc50f36e3db27d3f4e303384ca85503baa9b02510-vot...
3,3,mainnet,0x0-voter:0x002b3d4527a5d7799cc8714733278b675e...,True,100000000000000000000,1574871311,appAddress:0xa1316e773519bdc6f135509962b51f318...,0xf95aeaadc21d0a0ad51f29a01ecb226453210cd0,0xa1316e773519bdc6f135509962b51f318869cc25,0xa1316e773519bdc6f135509962b51f318869cc25-vot...
4,4,mainnet,0x0-voter:0x0030026755d09ee4b809b7e968dfe1b004...,True,1000000000000000000,1555549395,appAddress:0x7bc51cfcc7a538a6cce75d42285502937...,0x5ad614d836912ee578636d18edb01f2af2c74846,0x7bc51cfcc7a538a6cce75d42285502937b5f3c2d,0x7bc51cfcc7a538a6cce75d42285502937b5f3c2d-vot...

In [25]:
# keep only voteId and orgAddress
votes_df = votes_df[['voteId', 'orgAddress']]
# group by orgAddress and count votes
votes_df = votes_df.groupby('orgAddress').count()
# rename voteId to votes
votes_df = votes_df.rename(columns={'voteId': 'votes_count'})
# flatten index
votes_df = votes_df.reset_index()
votes_df.head()

                                   orgAddress  votes_count
0  0x0017a25385931ee690dc09df6cca919d1cd007b2            2
1  0x001cd74c9a99b6c68e93fe69595124407b37aa8e          216
2  0x00ccb72bd1f72882d89774d9acccce616ed9227d           16
3  0x0163c547b4abd1672e213291cc62582c357868fe           47
4  0x016f8665ac8b24a245cddb73dcf27439f1879a40            6

In [26]:
# join votes_df with df
df = df.merge(votes_df, how='left', left_on='platform_id', right_on='orgAddress', validate='one_to_one')
df.head()

,platform,platform_id,name,website,additional,orgAddress,votes_count
0,aragon,0x0017a25385931ee690dc09df6cca919d1cd007b2,NaN,https://etherscan.io/address/0x0017a25385931ee...,NaN,0x0017a25385931ee690dc09df6cca919d1cd007b2,2.0
1,aragon,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,ShillDAO,https://etherscan.io/address/0x001cd74c9a99b6c...,NaN,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,216.0
2,aragon,0x0068990f8910e502dd41eb71fbc506936ca100af,NaN,https://etherscan.io/address/0x0068990f8910e50...,NaN,NaN,NaN
3,aragon,0x00b424842685f69912cfd93af7293602c973bf56,NaN,https://etherscan.io/address/0x00b424842685f69...,NaN,NaN,NaN
4,aragon,0x00ccb72bd1f72882d89774d9acccce616ed9227d,NaN,https://etherscan.io/address/0x00ccb72bd1f7288...,NaN,0x00ccb72bd1f72882d89774d9acccce616ed9227d,16.0

In [27]:
# count nan values
df['votes_count'].isna().sum()

1405

In [28]:
# count not nans
df['votes_count'].notna().sum()

982

In [29]:
# sanity check
# how many of the daos with names have votes?
df[df['name'].notna()]['votes_count'].notna().sum()

36

In [30]:
# and how many daos overall have names not null
df['name'].notna().sum()

41

In [31]:
# fill nas
df['votes_count'] = df['votes_count'].fillna(0)
# make this column an integer
df['votes_count'] = df['votes_count'].astype(int)
df

,platform,platform_id,name,website,additional,orgAddress,votes_count
0,aragon,0x0017a25385931ee690dc09df6cca919d1cd007b2,NaN,https://etherscan.io/address/0x0017a25385931ee...,NaN,0x0017a25385931ee690dc09df6cca919d1cd007b2,2
1,aragon,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,ShillDAO,https://etherscan.io/address/0x001cd74c9a99b6c...,NaN,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,216
2,aragon,0x0068990f8910e502dd41eb71fbc506936ca100af,NaN,https://etherscan.io/address/0x0068990f8910e50...,NaN,NaN,0
3,aragon,0x00b424842685f69912cfd93af7293602c973bf56,NaN,https://etherscan.io/address/0x00b424842685f69...,NaN,NaN,0
4,aragon,0x00ccb72bd1f72882d89774d9acccce616ed9227d,NaN,https://etherscan.io/address/0x00ccb72bd1f7288...,NaN,0x00ccb72bd1f72882d89774d9acccce616ed9227d,16
...,...,...,...,...,...,...,...
2382,aragon,0xffbbb4c1a8fe19ce874a125935dc25aadbcf19dd,NaN,https://etherscan.io/address/0xffbbb4c1a8fe19c...,NaN,NaN,0
2383,aragon,0xffbc4704f0ad912977136592d262d6a6c8b3c498,NaN,https://etherscan.io/address/0xffbc4704f0ad912...,NaN,NaN,0
2384,aragon,0xffd2f503ec324b367a92ad81fbcc5c433b162721,NaN,https://etherscan.io/address/0xffd2f503ec324b3...,NaN,0xffd2f503ec324b367a92ad81fbcc5c433b162721,1
2385,aragon,0xffd943ea0362ea0eef463e169394ae7ab6fbc35e,NaN,https://etherscan.io/address/0xffd943ea0362ea0...,NaN,NaN,0
2386,aragon,0xffe19aaee419c46443ebe7f583230d7c32e42eb4,NaN,https://etherscan.io/address/0xffe19aaee419c46...,NaN,NaN,0

In [32]:
# drop orgAddress column
df = df.drop(columns=['orgAddress'])
df.head()

,platform,platform_id,name,website,additional,votes_count
0,aragon,0x0017a25385931ee690dc09df6cca919d1cd007b2,NaN,https://etherscan.io/address/0x0017a25385931ee...,NaN,2
1,aragon,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,ShillDAO,https://etherscan.io/address/0x001cd74c9a99b6c...,NaN,216
2,aragon,0x0068990f8910e502dd41eb71fbc506936ca100af,NaN,https://etherscan.io/address/0x0068990f8910e50...,NaN,0
3,aragon,0x00b424842685f69912cfd93af7293602c973bf56,NaN,https://etherscan.io/address/0x00b424842685f69...,NaN,0
4,aragon,0x00ccb72bd1f72882d89774d9acccce616ed9227d,NaN,https://etherscan.io/address/0x00ccb72bd1f7288...,NaN,16

### get proposals ("votes") count

In [33]:
# read the votes.csv
proposal_df = pd.read_csv('votes.csv')
proposal_df.head()

,Unnamed: 0,id,orgAddress,appAddress,creator,originalCreator,metadata,executed,executedAt,startDate,supportRequiredPct,minAcceptQuorum,yea,nay,voteNum,votingPower,network
0,0,appAddress:0x00299ee9faf692b8e48b0cc7a9c1805dd...,0xc31691d35e890d70d2357f010406a28ae0fce74e,0x00299ee9faf692b8e48b0cc7a9c1805dd821b131,0x48fb8a298672062be9a8fad508dfa0e08219244a,0xb2a5c803247e275a2b9a4bd0d2f28e8183c607dd,NaN,True,1558603918,1558602993,500000000000000000,120000000000000000,1000000000000000000,0,0,1000000000000000000,mainnet
1,1,appAddress:0x00299ee9faf692b8e48b0cc7a9c1805dd...,0xc31691d35e890d70d2357f010406a28ae0fce74e,0x00299ee9faf692b8e48b0cc7a9c1805dd821b131,0x48fb8a298672062be9a8fad508dfa0e08219244a,0xb2a5c803247e275a2b9a4bd0d2f28e8183c607dd,NaN,True,1558603938,1558603018,500000000000000000,120000000000000000,1000000000000000000,0,1,1000000000000000000,mainnet
2,2,appAddress:0x00299ee9faf692b8e48b0cc7a9c1805dd...,0xc31691d35e890d70d2357f010406a28ae0fce74e,0x00299ee9faf692b8e48b0cc7a9c1805dd821b131,0x48fb8a298672062be9a8fad508dfa0e08219244a,0xb2a5c803247e275a2b9a4bd0d2f28e8183c607dd,NaN,True,1558603963,1558603804,500000000000000000,120000000000000000,1000000000000000000,0,2,1000000000000000000,mainnet
3,3,appAddress:0x005aa691246cbaae1ace1f620f1e9b9bd...,0x8fa64f19ab40ef70de272d132704b1551e6075fa,0x005aa691246cbaae1ace1f620f1e9b9bd0d24f33,0xcfa25292463ae29324b37442addd5792833ecf30,0x9cf0029dd2acf7415d460d93b93ffc5daeb187ae,MintsAndBurns,False,0,1586704316,500000000000000000,150000000000000000,0,0,0,1000000000000000000,mainnet
4,4,appAddress:0x005aa691246cbaae1ace1f620f1e9b9bd...,0x8fa64f19ab40ef70de272d132704b1551e6075fa,0x005aa691246cbaae1ace1f620f1e9b9bd0d24f33,0xcfa25292463ae29324b37442addd5792833ecf30,0x9cf0029dd2acf7415d460d93b93ffc5daeb187ae,MintsAndBurns,False,0,1586705247,500000000000000000,150000000000000000,0,0,1,1000000000000000000,mainnet

In [34]:
# keep id and orgAddress, rename orgAddress to platform_id, group and count
proposal_df = proposal_df[['id', 'orgAddress']]
proposal_df = proposal_df.rename(columns={'orgAddress': 'platform_id'})
proposal_df = proposal_df.groupby('platform_id').count()
# flatten
proposal_df = proposal_df.reset_index()
# rename id to proposals_count
proposal_df = proposal_df.rename(columns={'id': 'proposals_count'})
proposal_df.head()

                                  platform_id  proposals_count
0  0x0017a25385931ee690dc09df6cca919d1cd007b2                2
1  0x001cd74c9a99b6c68e93fe69595124407b37aa8e               17
2  0x00ccb72bd1f72882d89774d9acccce616ed9227d               25
3  0x0163c547b4abd1672e213291cc62582c357868fe               34
4  0x016f8665ac8b24a245cddb73dcf27439f1879a40                6

In [35]:
# join proposal_df with df
df = df.merge(proposal_df, how='left', on='platform_id', validate='one_to_one')
df.head()

,platform,platform_id,name,website,additional,votes_count,proposals_count
0,aragon,0x0017a25385931ee690dc09df6cca919d1cd007b2,NaN,https://etherscan.io/address/0x0017a25385931ee...,NaN,2,2.0
1,aragon,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,ShillDAO,https://etherscan.io/address/0x001cd74c9a99b6c...,NaN,216,17.0
2,aragon,0x0068990f8910e502dd41eb71fbc506936ca100af,NaN,https://etherscan.io/address/0x0068990f8910e50...,NaN,0,NaN
3,aragon,0x00b424842685f69912cfd93af7293602c973bf56,NaN,https://etherscan.io/address/0x00b424842685f69...,NaN,0,NaN
4,aragon,0x00ccb72bd1f72882d89774d9acccce616ed9227d,NaN,https://etherscan.io/address/0x00ccb72bd1f7288...,NaN,16,25.0

In [36]:
# count nans
df['proposals_count'].isna().sum()

1204

In [37]:
# count not nans
df['proposals_count'].notna().sum()

1183

In [38]:
# fill nas w 0
df['proposals_count'] = df['proposals_count'].fillna(0)
# make int
df['proposals_count'] = df['proposals_count'].astype(int)
df.head()

,platform,platform_id,name,website,additional,votes_count,proposals_count
0,aragon,0x0017a25385931ee690dc09df6cca919d1cd007b2,NaN,https://etherscan.io/address/0x0017a25385931ee...,NaN,2,2
1,aragon,0x001cd74c9a99b6c68e93fe69595124407b37aa8e,ShillDAO,https://etherscan.io/address/0x001cd74c9a99b6c...,NaN,216,17
2,aragon,0x0068990f8910e502dd41eb71fbc506936ca100af,NaN,https://etherscan.io/address/0x0068990f8910e50...,NaN,0,0
3,aragon,0x00b424842685f69912cfd93af7293602c973bf56,NaN,https://etherscan.io/address/0x00b424842685f69...,NaN,0,0
4,aragon,0x00ccb72bd1f72882d89774d9acccce616ed9227d,NaN,https://etherscan.io/address/0x00ccb72bd1f7288...,NaN,16,25

In [39]:
# save
df.to_csv('aragon_deployments.csv', index=False)