In [335]:
import pandas as pd

# load 01_messari_daos/messari_proposal_ids
messari = pd.read_csv('../01_messari_daos/messari_proposal_ids.csv')

# load 01_deepdao_daos/1687523727_deepdao_daos.csv
deepdao = pd.read_csv('../01_deepdao_daos/1687523727_deepdao_daos.csv')

In [336]:
messari

           snapshot_id  count  withtally_id
0              ndx.eth      5           NaN
1           snxgov.eth     25           NaN
2     snapshot.dcl.eth     26           NaN
3    ampleforthorg.eth      4           NaN
4           snxgov.eth    348           NaN
..                 ...    ...           ...
116                NaN     15          idle
117                NaN     13       indexed
118                NaN     22  pooltogether
119                NaN      3       radicle
120                NaN      4          rari

[121 rows x 3 columns]

In [337]:
deepdao

,deepdaoDaoId,deepdaoOrganizationId,name,platformTitle,platformId,website,mostRecentProposalDate,aum
0,242e652c-9f58-4953-ba59-18c49d51cdc2,000de27d-b92a-495f-89be-554d022bb498,ZooGang Dao,Snapshot,11,https://snapshot.org/#/zoogangdao.eth,NaN,NaN
1,d3b7fce7-4715-4ad1-a316-412b1293eaef,004799ea-ef9e-432e-ae94-55a60f754f91,rugpullindex,Snapshot,11,https://snapshot.org/#/rugpullindex.eth,2022-03-05T04:53:53.000Z,NaN
2,a1e8e3cd-3bae-4239-8586-bd62d7c0fa0c,004d7017-ab61-40d3-aa6d-b546bb3dcd86,Komet Finance,Snapshot,11,https://snapshot.org/#/komet.eth,2021-11-26T13:33:20.000Z,NaN
3,e6cecf71-58ad-43ad-a5b6-d88228f123d6,0058e059-756c-4cf0-be93-2ea101e2cbff,Nftorbit,Snapshot,11,https://snapshot.org/#/nftorbit.eth,NaN,NaN
4,1815c9c4-690c-4092-a526-4d641bf24b4e,005ea4e2-624a-46f0-a7cd-1967d95d4092,JAMM,Snapshot,11,https://snapshot.org/#/jamm,2020-12-23T19:06:33.000Z,NaN
...,...,...,...,...,...,...,...,...
2732,be30732f-f510-4797-a741-f1224c4b2ad7,ff8ee647-fe8f-4cec-a1d8-85111b2a2af9,Parrot DeFi DAO,Snapshot,11,https://snapshot.org/#/parrotdefi.eth,2021-12-09T15:55:54.000Z,NaN
2733,02e4c0f9-95d2-4285-8782-92563f92b606,ff9d1702-79c7-414b-9e74-5ad2475a1e9c,Yioreea,Snapshot,11,https://snapshot.org/#/yioreea.eth,2022-03-01T13:51:49.000Z,NaN
2734,58a8aeaf-e2aa-41f1-a86a-3e823518fd86,ffe042c0-86b7-4cdd-ac2d-8747a268fe70,MahaDAO,Snapshot,11,https://snapshot.org/#/maha.eth,2022-03-13T12:24:59.000Z,NaN
2735,5ddd956f-5bb2-4061-8862-18022b5a7d91,ffe042c0-86b7-4cdd-ac2d-8747a268fe70,MahaDAO,Snapshot,11,https://snapshot.org/#/mahapolygon.eth,2021-08-10T14:52:49.000Z,NaN
2736,aa2fc373-2712-4ae7-a27e-3fbd5298c406,ffe042c0-86b7-4cdd-ac2d-8747a268fe70,Maha DAO,Governor,6,NaN,2022-09-26T06:54:59.000Z,53361.551813

In [338]:
# deepdao drop platformId, name, deepdaoOrganizationId, deepdaoDaoId, mostRecentProposalDate, aum
deepdao = deepdao.drop(columns=['platformId', 'deepdaoOrganizationId', 'deepdaoDaoId', 'mostRecentProposalDate', 'aum'])
# rename platformTitle to platformType
deepdao = deepdao.rename(columns={'platformTitle': 'platformType'})
# remove duplicate websites but keep nulls
deepdao = deepdao.drop_duplicates(subset=['name', 'website'])
deepdao

                 name platformType                                  website
0         ZooGang Dao     Snapshot    https://snapshot.org/#/zoogangdao.eth
1        rugpullindex     Snapshot  https://snapshot.org/#/rugpullindex.eth
2       Komet Finance     Snapshot         https://snapshot.org/#/komet.eth
3            Nftorbit     Snapshot      https://snapshot.org/#/nftorbit.eth
4                JAMM     Snapshot              https://snapshot.org/#/jamm
...               ...          ...                                      ...
2732  Parrot DeFi DAO     Snapshot    https://snapshot.org/#/parrotdefi.eth
2733          Yioreea     Snapshot       https://snapshot.org/#/yioreea.eth
2734          MahaDAO     Snapshot          https://snapshot.org/#/maha.eth
2735          MahaDAO     Snapshot   https://snapshot.org/#/mahapolygon.eth
2736         Maha DAO     Governor                                      NaN

[2717 rows x 3 columns]

In [339]:
# messari set platformType to Snapshot if snapshot_id is not null
messari.loc[messari['snapshot_id'].notnull(), 'platformType'] = 'Snapshot'
# same for tally
messari.loc[messari['withtally_id'].notnull(), 'platformType'] = 'Tally'
# combine snapshot_id and withtally_id into platformId
messari['platformId'] = messari['snapshot_id'].fillna(messari['withtally_id'])
# drop snapshot_id and withtally_id
messari = messari.drop(columns=['snapshot_id', 'withtally_id'])
# drop count
messari = messari.drop(columns=['count'])
messari

    platformType         platformId
0       Snapshot            ndx.eth
1       Snapshot         snxgov.eth
2       Snapshot   snapshot.dcl.eth
3       Snapshot  ampleforthorg.eth
4       Snapshot         snxgov.eth
..           ...                ...
116        Tally               idle
117        Tally            indexed
118        Tally       pooltogether
119        Tally            radicle
120        Tally               rari

[121 rows x 2 columns]

In [340]:
# extract snapshot id from website
import numpy as np

def get_snapshot_id(website):
    # format https://snapshot.org/#/<snapshot_id>/proposal/<proposal_id>
    if pd.isnull(website): return ''
    if 'snapshot.org/#/' in website:
        return website.split('snapshot.org/#/')[1].split('/')[0]
    else:
        return np.nan
    
deepdao['platformId'] = deepdao['website'].apply(get_snapshot_id)
deepdao

,name,platformType,website,platformId
0,ZooGang Dao,Snapshot,https://snapshot.org/#/zoogangdao.eth,zoogangdao.eth
1,rugpullindex,Snapshot,https://snapshot.org/#/rugpullindex.eth,rugpullindex.eth
2,Komet Finance,Snapshot,https://snapshot.org/#/komet.eth,komet.eth
3,Nftorbit,Snapshot,https://snapshot.org/#/nftorbit.eth,nftorbit.eth
4,JAMM,Snapshot,https://snapshot.org/#/jamm,jamm
...,...,...,...,...
2732,Parrot DeFi DAO,Snapshot,https://snapshot.org/#/parrotdefi.eth,parrotdefi.eth
2733,Yioreea,Snapshot,https://snapshot.org/#/yioreea.eth,yioreea.eth
2734,MahaDAO,Snapshot,https://snapshot.org/#/maha.eth,maha.eth
2735,MahaDAO,Snapshot,https://snapshot.org/#/mahapolygon.eth,mahapolygon.eth
2736,Maha DAO,Governor,NaN,

In [341]:
# show deepdao rows with website null
deepdao[deepdao['website'].isnull()].groupby('platformType')['name'].count()

platformType
Aragon              44
AssetsOnly          25
Colony               1
DAOstack             1
Governor            44
Moloch / Daohaus    18
Realms              15
Snapshot            12
Substrate           27
Name: name, dtype: int64

In [342]:
# ignore columns with platformType 'Aragon' because we'll add all of the aragon daos later
deepdao = deepdao[deepdao['platformType'] != 'Aragon']
deepdao

,name,platformType,website,platformId
0,ZooGang Dao,Snapshot,https://snapshot.org/#/zoogangdao.eth,zoogangdao.eth
1,rugpullindex,Snapshot,https://snapshot.org/#/rugpullindex.eth,rugpullindex.eth
2,Komet Finance,Snapshot,https://snapshot.org/#/komet.eth,komet.eth
3,Nftorbit,Snapshot,https://snapshot.org/#/nftorbit.eth,nftorbit.eth
4,JAMM,Snapshot,https://snapshot.org/#/jamm,jamm
...,...,...,...,...
2732,Parrot DeFi DAO,Snapshot,https://snapshot.org/#/parrotdefi.eth,parrotdefi.eth
2733,Yioreea,Snapshot,https://snapshot.org/#/yioreea.eth,yioreea.eth
2734,MahaDAO,Snapshot,https://snapshot.org/#/maha.eth,maha.eth
2735,MahaDAO,Snapshot,https://snapshot.org/#/mahapolygon.eth,mahapolygon.eth
2736,Maha DAO,Governor,NaN,

## Pulling in Aragon data

In [343]:
aragon_organizations = pd.read_csv('../daoanalyzer/organizations.csv')
aragon_organizations = aragon_organizations[['id', 'name']]
# add column platformType = Aragon
aragon_organizations['platformType'] = 'Aragon'
# rename id to platformId
aragon_organizations = aragon_organizations.rename(columns={'id': 'platformId'})
aragon_organizations

                                      platformId      name platformType
0     0x0017a25385931ee690dc09df6cca919d1cd007b2       NaN       Aragon
1     0x001cd74c9a99b6c68e93fe69595124407b37aa8e  ShillDAO       Aragon
2     0x0068990f8910e502dd41eb71fbc506936ca100af       NaN       Aragon
3     0x00b424842685f69912cfd93af7293602c973bf56       NaN       Aragon
4     0x00ccb72bd1f72882d89774d9acccce616ed9227d       NaN       Aragon
...                                          ...       ...          ...
2381  0xffbbb4c1a8fe19ce874a125935dc25aadbcf19dd       NaN       Aragon
2382  0xffbc4704f0ad912977136592d262d6a6c8b3c498       NaN       Aragon
2383  0xffd2f503ec324b367a92ad81fbcc5c433b162721       NaN       Aragon
2384  0xffd943ea0362ea0eef463e169394ae7ab6fbc35e       NaN       Aragon
2385  0xffe19aaee419c46443ebe7f583230d7c32e42eb4       NaN       Aragon

[2386 rows x 3 columns]

## Merging

In [344]:
# outer join
combined = pd.merge(messari, deepdao, how='outer', on='platformId', suffixes=('_messari', '_deepdao'))
combined

,platformType_messari,platformId,name,platformType_deepdao,website
0,Snapshot,ndx.eth,Indexed Finance,Snapshot,https://snapshot.org/#/ndx.eth
1,Snapshot,ndx.eth,Indexed Finance,Snapshot,https://snapshot.org/#/ndx.eth
2,Snapshot,snxgov.eth,Synthetix SCCP/SIP,Snapshot,https://snapshot.org/#/snxgov.eth
3,Snapshot,snxgov.eth,Synthetix SCCP/SIP,Snapshot,https://snapshot.org/#/snxgov.eth
4,Snapshot,snxgov.eth,Synthetix SCCP/SIP,Snapshot,https://snapshot.org/#/snxgov.eth
...,...,...,...,...,...
2659,NaN,sata.eth,Signata DAO,Snapshot,https://snapshot.org/#/sata.eth
2660,NaN,parrotdefi.eth,Parrot DeFi DAO,Snapshot,https://snapshot.org/#/parrotdefi.eth
2661,NaN,yioreea.eth,Yioreea,Snapshot,https://snapshot.org/#/yioreea.eth
2662,NaN,maha.eth,MahaDAO,Snapshot,https://snapshot.org/#/maha.eth
2663,NaN,mahapolygon.eth,MahaDAO,Snapshot,https://snapshot.org/#/mahapolygon.eth

In [345]:
# desribe
combined.describe()

,platformType_messari,platformId,name,platformType_deepdao,website
count,121,2593,2638,2580,2437
unique,2,2386,2527,10,2431
top,Snapshot,,aave,Snapshot,https://snapshot.org/#/snxgov.eth
freq,114,202,6,2375,3

In [346]:
# join the platform type columns, preserve both values if they are different
combined['platformType'] = combined['platformType_messari'].fillna(combined['platformType_deepdao'])
combined['platformTypeA'] = combined['platformType_messari'].fillna(combined['platformType_deepdao'])
combined['platformTypeB'] = combined['platformType_deepdao'].fillna(combined['platformType_messari'])
# where they are different, combine the values w comma
combined.loc[combined['platformTypeA'] != combined['platformTypeB'], 'platformType'] = combined['platformTypeA'] + ', ' + combined['platformTypeB']
# show where they are different
combined[combined['platformTypeA'] != combined['platformTypeB']]

,platformType_messari,platformId,name,platformType_deepdao,website,platformType,platformTypeA,platformTypeB
11,Snapshot,aave.eth,Aave (off-chain),Safe/Snapshot,https://snapshot.org/#/aave.eth,"Snapshot, Safe/Snapshot",Snapshot,Safe/Snapshot
26,Snapshot,balancer.eth,Balancer,Safe/Snapshot,https://snapshot.org/#/balancer.eth,"Snapshot, Safe/Snapshot",Snapshot,Safe/Snapshot
114,Tally,ampleforth,Ampleforth,Snapshot,https://snapshot.org/#/ampleforth,"Tally, Snapshot",Tally,Snapshot
120,Tally,rari,Rari Capital,Snapshot,https://snapshot.org/#/rari,"Tally, Snapshot",Tally,Snapshot
161,NaN,,NFT money,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
341,NaN,,BackerDAO,NaN,NaN,NaN,NaN,NaN
342,NaN,,MetaPhysical Art Institute,NaN,NaN,NaN,NaN,NaN
346,NaN,,CultDao,NaN,NaN,NaN,NaN,NaN
349,NaN,,MegaMoon,NaN,NaN,NaN,NaN,NaN
355,NaN,,thejourney,NaN,NaN,NaN,NaN,NaN

In [347]:
# remove platformTypeA and platformTypeB and platformType_messari and platformType_deepdao
combined = combined.drop(columns=['platformTypeA', 'platformTypeB', 'platformType_messari', 'platformType_deepdao'])
combined

,platformId,name,website,platformType
0,ndx.eth,Indexed Finance,https://snapshot.org/#/ndx.eth,Snapshot
1,ndx.eth,Indexed Finance,https://snapshot.org/#/ndx.eth,Snapshot
2,snxgov.eth,Synthetix SCCP/SIP,https://snapshot.org/#/snxgov.eth,Snapshot
3,snxgov.eth,Synthetix SCCP/SIP,https://snapshot.org/#/snxgov.eth,Snapshot
4,snxgov.eth,Synthetix SCCP/SIP,https://snapshot.org/#/snxgov.eth,Snapshot
...,...,...,...,...
2659,sata.eth,Signata DAO,https://snapshot.org/#/sata.eth,Snapshot
2660,parrotdefi.eth,Parrot DeFi DAO,https://snapshot.org/#/parrotdefi.eth,Snapshot
2661,yioreea.eth,Yioreea,https://snapshot.org/#/yioreea.eth,Snapshot
2662,maha.eth,MahaDAO,https://snapshot.org/#/maha.eth,Snapshot
2663,mahapolygon.eth,MahaDAO,https://snapshot.org/#/mahapolygon.eth,Snapshot

In [348]:
# remove duplicate rows
combined = combined.drop_duplicates(subset=['platformId'])
combined

,platformId,name,website,platformType
0,ndx.eth,Indexed Finance,https://snapshot.org/#/ndx.eth,Snapshot
2,snxgov.eth,Synthetix SCCP/SIP,https://snapshot.org/#/snxgov.eth,Snapshot
5,snapshot.dcl.eth,Decentraland,https://snapshot.org/#/snapshot.dcl.eth,Snapshot
6,ampleforthorg.eth,Ampleforth,https://snapshot.org/#/ampleforthorg.eth,Snapshot
8,1inch.eth,1inch Network,https://snapshot.org/#/1inch.eth,Snapshot
...,...,...,...,...
2659,sata.eth,Signata DAO,https://snapshot.org/#/sata.eth,Snapshot
2660,parrotdefi.eth,Parrot DeFi DAO,https://snapshot.org/#/parrotdefi.eth,Snapshot
2661,yioreea.eth,Yioreea,https://snapshot.org/#/yioreea.eth,Snapshot
2662,maha.eth,MahaDAO,https://snapshot.org/#/maha.eth,Snapshot
2663,mahapolygon.eth,MahaDAO,https://snapshot.org/#/mahapolygon.eth,Snapshot

In [349]:
# if website is of snapshot.org, and it is missing the platformType, set the platformType to Snapshot
combined.loc[(combined['website'].str.contains('snapshot.org')) & (combined['platformType'].isnull()), 'platformType'] = 'Snapshot'

# if website is of snapshot.org and has no platformId, extract the snapshot id
combined.loc[(combined['website'].str.contains('snapshot.org')) & (combined['platformId'].isnull()), 'platformId'] = combined['website'].apply(get_snapshot_id)

combined

/var/folders/yn/b6240_995k3gl4vwtnbzzy480000gq/T/ipykernel_42070/150532093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined.loc[(combined['website'].str.contains('snapshot.org')) & (combined['platformType'].isnull()), 'platformType'] = 'Snapshot'
/var/folders/yn/b6240_995k3gl4vwtnbzzy480000gq/T/ipykernel_42070/150532093.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined.loc[(combined['website'].str.contains('snapshot.org')) & (combined['platformId'].isnull()), 'platformId'] = combined['website'].apply(get_snapshot_id)

,platformId,name,website,platformType
0,ndx.eth,Indexed Finance,https://snapshot.org/#/ndx.eth,Snapshot
2,snxgov.eth,Synthetix SCCP/SIP,https://snapshot.org/#/snxgov.eth,Snapshot
5,snapshot.dcl.eth,Decentraland,https://snapshot.org/#/snapshot.dcl.eth,Snapshot
6,ampleforthorg.eth,Ampleforth,https://snapshot.org/#/ampleforthorg.eth,Snapshot
8,1inch.eth,1inch Network,https://snapshot.org/#/1inch.eth,Snapshot
...,...,...,...,...
2659,sata.eth,Signata DAO,https://snapshot.org/#/sata.eth,Snapshot
2660,parrotdefi.eth,Parrot DeFi DAO,https://snapshot.org/#/parrotdefi.eth,Snapshot
2661,yioreea.eth,Yioreea,https://snapshot.org/#/yioreea.eth,Snapshot
2662,maha.eth,MahaDAO,https://snapshot.org/#/maha.eth,Snapshot
2663,mahapolygon.eth,MahaDAO,https://snapshot.org/#/mahapolygon.eth,Snapshot

In [350]:
# show rows where platformType or platformId is null
combined[combined['platformType'].isnull() | combined['platformId'].isnull()]

,platformId,name,website,platformType
161,,NFT money,NaN,NaN
367,NaN,MetaClan,https://daohaus.club/dao/v2/0xb5cef5887a0b46d8...,Moloch / Daohaus

In [351]:
# and remove em
combined = combined.dropna(subset=['platformType', 'platformId'])

In [352]:
# drop website column
combined = combined.drop(columns=['website'])

In [353]:
# drop dupe rows
combined = combined.drop_duplicates(subset=['platformId', 'platformType'])
combined.shape

(2385, 3)

In [354]:
# reorder columns id, type, name
combined = combined[['platformId', 'platformType', 'name']]
combined

             platformId platformType                name
0               ndx.eth     Snapshot     Indexed Finance
2            snxgov.eth     Snapshot  Synthetix SCCP/SIP
5      snapshot.dcl.eth     Snapshot        Decentraland
6     ampleforthorg.eth     Snapshot          Ampleforth
8             1inch.eth     Snapshot       1inch Network
...                 ...          ...                 ...
2659           sata.eth     Snapshot         Signata DAO
2660     parrotdefi.eth     Snapshot     Parrot DeFi DAO
2661        yioreea.eth     Snapshot             Yioreea
2662           maha.eth     Snapshot             MahaDAO
2663    mahapolygon.eth     Snapshot             MahaDAO

[2385 rows x 3 columns]

### Add in Aragon data

In [355]:
# concat combined and aaraon_organizations
combined = pd.concat([combined, aragon_organizations])
combined

,platformId,platformType,name
0,ndx.eth,Snapshot,Indexed Finance
2,snxgov.eth,Snapshot,Synthetix SCCP/SIP
5,snapshot.dcl.eth,Snapshot,Decentraland
6,ampleforthorg.eth,Snapshot,Ampleforth
8,1inch.eth,Snapshot,1inch Network
...,...,...,...
2381,0xffbbb4c1a8fe19ce874a125935dc25aadbcf19dd,Aragon,NaN
2382,0xffbc4704f0ad912977136592d262d6a6c8b3c498,Aragon,NaN
2383,0xffd2f503ec324b367a92ad81fbcc5c433b162721,Aragon,NaN
2384,0xffd943ea0362ea0eef463e169394ae7ab6fbc35e,Aragon,NaN
2385,0xffe19aaee419c46443ebe7f583230d7c32e42eb4,Aragon,NaN

In [356]:
combined.platformType.value_counts()

Aragon                     2386
Snapshot                   2374
Tally                         5
Snapshot, Safe/Snapshot       2
Tally, Snapshot               2
Safe/Snapshot                 2
Name: platformType, dtype: int64

### Clean up strange values

In [357]:
# find rows where platformType is not in ['Snapshot', 'Tally', 'Aragon']
combined[~combined['platformType'].isin(['Snapshot', 'Tally', 'Aragon'])]

          platformId             platformType              name
11          aave.eth  Snapshot, Safe/Snapshot  Aave (off-chain)
26      balancer.eth  Snapshot, Safe/Snapshot          Balancer
114       ampleforth          Tally, Snapshot        Ampleforth
120             rari          Tally, Snapshot      Rari Capital
1644  mstabledao.eth            Safe/Snapshot       mStable DAO
1920        dorg.eth            Safe/Snapshot              dOrg

In [358]:
# make 'Snapshot, Safe/Snapshot' values be just snapshot
combined.loc[combined['platformType'] == 'Snapshot, Safe/Snapshot', 'platformType'] = 'Snapshot'
# make Safe/Snapshot be just snapshot
combined.loc[combined['platformType'] == 'Safe/Snapshot', 'platformType'] = 'Snapshot'
combined[~combined['platformType'].isin(['Snapshot', 'Tally', 'Aragon'])]

     platformId     platformType          name
114  ampleforth  Tally, Snapshot    Ampleforth
120        rari  Tally, Snapshot  Rari Capital

In [359]:
# find the row with platformId rari and platformType 'Tally, Snapshot' and set it to 'Tally'
combined.loc[(combined['platformId'] == 'rari') & (combined['platformType'] == 'Tally, Snapshot'), 'platformType'] = 'Tally'
combined.loc[(combined['platformId'] == 'ampleforth') & (combined['platformType'] == 'Tally, Snapshot'), 'platformType'] = 'Tally'
combined[~combined['platformType'].isin(['Snapshot', 'Tally', 'Aragon'])]

Empty DataFrame
Columns: [platformId, platformType, name]
Index: []

In [360]:
combined.shape

(4771, 3)

In [361]:
# remove duplicate rows
combined = combined.drop_duplicates(subset=['platformId', 'platformType'])
combined.shape

(4771, 3)

In [362]:
# save as csv
combined.to_csv('messari_deepdao_aragon_organizations.csv', index=False)